{% extends 'base.html' %}

{% block title %}
   About Us
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>About Us - JoJo's Stand Generator</title>
  <style>
    body {
      color: white;
      font-weight: bold;

    }
  </style>
</head>
<body>
  <h1>About Us</h1>
  <p>Welcome to JoJo's Stand Generator, the ultimate destination for all JoJo fans!</p>

  <h2>Our Mission</h2>
  <p>At JoJo's Stand Generator, our mission is to provide an exciting and interactive experience for JoJo enthusiasts. We aim to celebrate the unique world of JoJo's Bizarre Adventure by allowing fans to generate their very own stands, just like their favorite characters.</p>

  <h2>What are Stands?</h2>
  <p>Stands are supernatural manifestations of a person's fighting spirit, possessing incredible abilities and serving as loyal companions in battles. Each stand has its own unique powers and characteristics, making them an integral part of the JoJo's Bizarre Adventure universe.</p>

  <h2>Stand Generator</h2>
  <p>Our stand generator tool allows you to create your own customized stand. Simply input your desired parameters, such as stand name, appearance, abilities, and more, and our generator will create a unique stand tailored to your specifications. Unleash your creativity and imagination!</p>

  <h2>Community</h2>
  <p>Join our vibrant community of JoJo fans and engage in discussions, share fan art, and participate in stand battles. Connect with fellow enthusiasts who share your passion for the series and explore the vast lore and intricacies of JoJo's Bizarre Adventure.</p>

  <h2>Get Started</h2>
  <p>Ready to embark on your stand-generating journey? Head over to our Stand Generator page and start creating your very own stand today! Let the power of JoJo's Bizarre Adventure flow through you.</p>

</body>
</html>
{% endblock %}